.Log
    grid-area log
    border-right 2px solid $bordergrey
    padding 10px
    font-size 1.2rem
    overflow-y auto

.LogItem
    font-size 12px
    margin 0 auto 5px
    line-height 1
    word-break break-all
    color #888

    &--error
        color $red

    &--warning
        color $darkorange

    &--info
        color $blue