.Button
    display inline-block
    padding 14px 30px
    border 1px solid transparent
    outline none
    border-radius 3px
    font-size 16px
    cursor pointer

    &:disabled
        cursor default
        opacity .6

    &--blue
        background $blue
        color #fff

    &--lightblue
        background $lightblue

    &--orange
        background $orange

    &--lightorange
        background $lightorange
        //color #fff

    &--red
        background $red
        color #fff

    &--green
        background $green
