.s-alert-box
    transform translate(10px, 10px) !important
    padding 14px 28px !important
    box-shadow 0 4px 8px rgba(0, 0, 0, .1)
    font-size 14px

.s-alert-boxbefore
    position absolute
    content ''
    left 0
    top 0
    bottom 0
    width 2px

.s-alert-closebefore, .s-alert-closeafter
    background #000 !important
    width 1px !important

.s-alert-info
    background $lightblue !important
    color #000 !important

.s-alert-infobefore
    background $blue

.s-alert-warning
    background lightorange !important
    color $darkorange !important

.s-alert-warning .s-alert-closebefore, .s-alert-warning .s-alert-closeafter
    background $darkorange !important


.__react_component_tooltip
    border-radius 4px
    padding 4px 6px
    font-size 12px
    -webkit-user-select none
