.Form
    display block
    padding 50px 40px
    width 100%

.Input
    position relative
    display block
    margin 0 auto 20px


    input
        padding 16px 30px
        display inline-block
        vertical-align middle
        outline none
        font-size 15px
        width 100%

    label
        display inline-block
        vertical-align middle
        //width 220px
        background #fff
        text-align right
        padding 2px 5px
        position absolute
        font-size 13px
        top -10px
        left 15px

.Checkbox
    position relative
    display block
    margin 0 auto 20px
    cursor pointer

    input
        vertical-align middle
        display inline-block
        margin 4px 15px 5px 0

    label
        padding 10px 0

.Radio
    position relative
    display block
    margin 0 auto 10px
    cursor pointer

    input
        vertical-align middle
        display inline-block
        margin 4px 15px 5px 0

    label
        padding 10px 0

fieldset
    margin 0 auto 20px
    border none

legend
    margin 0 0 10px
    display block