.FilesItem > .react-contextmenu-wrapper
    display block

.react-contextmenu
    background #fff
    //padding 5px 0
    box-shadow 0 8px 16px rgba(#000, .1)

    &-item
        padding 12px 24px
        text-align left
        min-width 200px
        cursor pointer

        &:hover
            background $lightblue