html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.s-alert-box {
  transform: translate(10px, 10px) !important;
  padding: 14px 28px !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 14px;
}
.s-alert-boxbefore {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}
.s-alert-closebefore,
.s-alert-closeafter {
  background: #000 !important;
  width: 1px !important;
}
.s-alert-info {
  background: #f6faff !important;
  color: #000 !important;
}
.s-alert-infobefore {
  background: #4c84f7;
}
.s-alert-warning {
  background: lightorange !important;
  color: #db9560 !important;
}
.s-alert-warning .s-alert-closebefore,
.s-alert-warning .s-alert-closeafter {
  background: #db9560 !important;
}
.__react_component_tooltip {
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 12px;
  -webkit-user-select: none;
}
.Form {
  display: block;
  padding: 50px 40px;
  width: 100%;
}
.Input {
  position: relative;
  display: block;
  margin: 0 auto 20px;
}
.Input input {
  padding: 16px 30px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  font-size: 15px;
  width: 100%;
}
.Input label {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  text-align: right;
  padding: 2px 5px;
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: 15px;
}
.Checkbox {
  position: relative;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
}
.Checkbox input {
  vertical-align: middle;
  display: inline-block;
  margin: 4px 15px 5px 0;
}
.Checkbox label {
  padding: 10px 0;
}
.Radio {
  position: relative;
  display: block;
  margin: 0 auto 10px;
  cursor: pointer;
}
.Radio input {
  vertical-align: middle;
  display: inline-block;
  margin: 4px 15px 5px 0;
}
.Radio label {
  padding: 10px 0;
}
fieldset {
  margin: 0 auto 20px;
  border: none;
}
legend {
  margin: 0 0 10px;
  display: block;
}
.Button {
  display: inline-block;
  padding: 14px 30px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.Button:disabled {
  cursor: default;
  opacity: 0.6;
}
.Button--blue {
  background: #4c84f7;
  color: #fff;
}
.Button--lightblue {
  background: #f6faff;
}
.Button--orange {
  background: #f9d69d;
}
.Button--lightorange {
  background: #fbf3e8;
}
.Button--red {
  background: #eb4969;
  color: #fff;
}
.Button--green {
  background: #59bb5d;
}
.FilesItem > .react-contextmenu-wrapper {
  display: block;
}
.react-contextmenu {
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.react-contextmenu-item {
  padding: 12px 24px;
  text-align: left;
  min-width: 200px;
  cursor: pointer;
}
.react-contextmenu-item:hover {
  background: #f6faff;
}
.App {
  background: #eff0f5;
/*background rgba(239, 240, 245, .9)*/
/*backdrop-filter blur(10px)*/
  width: 100%;
  height: 100%;
}
.AppContainer {
  width: 100%;
  height: calc(100% - 37px);
  display: flex;
}
.AppHeader {
  height: 24px;
  -webkit-app-region: drag;
  display: none;
}
.AppHeader-buttons {
  -webkit-app-region: nodrag;
  padding: 4px 8px;
  display: inline-block;
}
.AppHeader-buttons:hover .AppHeader-button {
  opacity: 1;
}
.AppHeader-buttons:hover .AppHeader-button--close {
  background: #eb4969;
}
.AppHeader-buttons:hover .AppHeader-button--close:before {
  content: '\00d7';
}
.AppHeader-buttons:hover .AppHeader-button--minimize {
  background: #59bb5d;
}
.AppHeader-buttons:hover .AppHeader-button--minimize:before {
  content: '-';
}
.AppHeader-buttons:hover .AppHeader-button--maximize {
  background: #f9d69d;
}
.AppHeader-buttons:hover .AppHeader-button--maximize:before {
  content: '+';
}
.AppHeader-button {
  width: 15px;
  height: 15px;
  line-height: 16px;
  padding: 0 0 2px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 0 3px;
  border-radius: 50%;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  background: #000;
  opacity: 0.5;
}
.AppHeader-button:before {
  display: inline-block;
  transform: translateY(-1px);
}
.AppHeader-button--close:hover {
  background: 0 4px 8px rgba(235,73,105,0.2);
}
.AppMenu {
  width: 80px;
  padding: 0 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.AppMenu:hover + .App {
  transform: translate3d(160px, 0, 0) scale(0.98);
  transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.AppFooter {
  height: 36px;
}
.Tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  background: #eff0f5;
  margin: 0 5px 0 0;
}
.Tag--blue {
  color: #fff;
  background: #4c84f7;
}
.Tag--orange {
  color: #fff;
  background: #db9560;
}
.Actions {
  display: block;
}
.Actions img {
  width: 20px;
  margin: 0 auto;
}
.ActionsItem {
  border: 2px solid #4c84f7;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  line-height: 34px;
  vertical-align: middle;
  margin: 0 auto 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Board {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  -webkit-user-select: none;
}
.Board .Button {
  margin: 0 10px 0 0;
}
.Empty {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  padding-bottom: 2%;
  top: 0;
  pointer-events: none;
}
.Empty-inner {
  opacity: 0.5;
}
.Empty img {
  display: block;
  margin: 0 auto 10px;
  width: 32px;
}
.Files {
  height: 100%;
  border-right: 2px solid #eef1f1;
  position: relative;
  overflow-y: auto;
  border-bottom: 2px solid #eef1f1;
}
.Files--local {
  grid-area: filesLocal;
}
.Files--remote {
  grid-area: filesRemote;
}
.FilesHeader {
  padding: 18px;
  min-height: 56px;
  border-bottom: 2px solid #eef1f1;
}
.FilesContainer {
  position: relative;
  height: calc(100% - 56px);
  user-select: none;
}
.FilesItem {
  display: block;
/*padding 10px 18px 10px 18px*/
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
}
.FilesItem-inner {
  padding: 4px 18px 4px 18px;
  cursor: pointer;
  pointer-events: none;
}
.FilesItem > div {
  display: inline-block;
}
.FilesItem-name {
  vertical-align: middle;
  display: inline-block;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
}
.FilesItem-icon {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  display: inline-block;
  text-align: left;
/*opacity .5*/
  position: relative;
  pointer-events: none;
}
.FilesItem-icon img {
  width: 18px;
  margin: 4px 0 0;
}
.FilesItem-iconName {
  vertical-align: middle;
  display: inline-block;
  font-size: 10px;
  position: absolute;
  bottom: -3px;
  left: 9px;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 2px;
  line-height: 12px;
  max-width: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}
.FilesItem--file .FilesItem-icon {
  opacity: 0.5;
}
.FilesItem--file:not(.FilesItem--noExtension) .FilesItem-icon img {
  margin: 0 0 6px;
}
.FilesItem--active,
.FilesItem--activehover {
  background: #f6faff;
}
.FilesItem:hover {
  background: #f1f1f1;
}
.FilesItem:focus {
  background: #fbf3e8;
}
.List {
  width: 220px;
  min-width: 220px;
  height: 100%;
  border-right: 2px solid #eef1f1;
  border-bottom: 2px solid #eef1f1;
  grid-area: list;
  position: relative;
  overflow-y: auto;
  user-select: none;
}
.List.is-searching .ListItem:first-child {
  background: #fbf3e8;
  opacity: 1;
}
.List.is-searching .ListItem:first-child .ListItem-name {
  opacity: 1;
}
.List.is-searching .ListItem:first-child:before {
  background: #f9d69d;
}
.ListContainer {
  min-height: calc(100% - 57px);
  position: relative;
}
.ListSearch {
  position: relative;
}
.ListSearch input {
  -webkit-appearance: none;
  border: none;
  padding: 18px 42px 18px 32px;
  width: 100%;
  font-size: 15px;
  border-bottom: 2px solid #eef1f1;
}
.ListSearch input:focus {
  border-color: #4c84f7;
  background: #f6faff;
  outline: none;
}
.ListSearch img {
  position: absolute;
  width: 18px;
  right: 24px;
  top: 18px;
  opacity: 0.4;
}
.ListItem {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px 18px 32px;
  cursor: pointer;
  position: relative;
}
.ListItem:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
}
.ListItem:hover {
  background: #fbf3e8;
}
.ListItem:hover:before {
  background: #f9d69d;
}
.ListItem:active,
.ListItem.is-active {
  background: #f6faff;
}
.ListItem:hover .ListItem-name,
.ListItem:hover .ListItem-icon,
.ListItem.is-active .ListItem-name,
.ListItem.is-active .ListItem-icon {
  opacity: 1;
}
.ListItem.is-active:before,
.ListItem .ListItem:active:before {
  background: #4c84f7;
}
.ListItem:focus {
  background: #f6faff;
  outline: none;
}
.ListItem-name {
  opacity: 0.5;
  max-width: calc(100% - 24px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.ListItem-icon {
  opacity: 0.5;
  width: 16px;
}
.ListItem--add {
  text-align: center;
  justify-content: center;
  padding: 16px 20px 16px;
  align-items: center;
  font-size: 13px;
}
.ListItem--add:hover:before {
  display: none;
}
.ListItem--add span {
  font-size: 26px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
  transform: translate(0, -3px);
}
.Log {
  grid-area: log;
  border-right: 2px solid #eef1f1;
  padding: 10px;
  font-size: 1.2rem;
  overflow-y: auto;
}
.LogItem {
  font-size: 12px;
  margin: 0 auto 5px;
  line-height: 1;
  word-break: break-all;
  color: #888;
}
.LogItem--error {
  color: #eb4969;
}
.LogItem--warning {
  color: #db9560;
}
.LogItem--info {
  color: #4c84f7;
}
.Menu {
  margin: 20px 0 0;
  text-align: left;
  font-weight: 700;
  -webkit-user-select: none;
}
.MenuItem {
  display: block;
  padding: 10px 2px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
  opacity: 0.5;
}
.MenuItem:hover,
.MenuItem--active,
.MenuItem:focus {
  opacity: 1;
  outline: none;
}
.MenuItem:hover .MenuItem-icon,
.MenuItem:focus .MenuItem-icon {
  background: #d9dce5;
  outline: none;
}
.MenuItem--active {
  color: #f6faff;
}
.MenuItem--active .MenuItem-icon {
  background: #4c84f7;
}
.MenuItem--active:hover .MenuItem-icon,
.MenuItem--active:focus .MenuItem-icon {
  background: #4c84f7;
}
.MenuItem-icon {
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  pointer-events: none;
}
.MenuItem-name {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 18px;
}
.Panel--transfer {
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
  z-index: 10;
  display: grid;
  grid-template-columns: 220px calc(50% - 110px) calc(50% - 110px);
  grid-template-rows: calc(100% - 200px) 200px;
  grid-template-areas: "list filesLocal filesRemote" "log queue queue";
}
.Panel--edit {
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
  z-index: 10;
  display: grid;
  grid-template-columns: 220px calc(100% - 220px);
  grid-template-rows: 100%;
  grid-template-areas: "list board";
}
.Panel--settings {
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
  z-index: 10;
  display: block;
}
.Queue {
  position: relative;
  height: 100%;
  overflow-y: auto;
  grid-area: queue;
}
.QueueItem {
  display: flex;
  padding: 4px 18px 4px 0;
  align-items: center;
}
.QueueItem:hover {
  background: #fbf3e8;
}
.QueueItem > div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px 0 0;
  vertical-align: middle;
  line-height: 1.2;
  white-space: nowrap;
  z-index: 2;
}
.QueueItem > div:last-child {
  padding-right: 0;
}
.QueueItem--inProgress {
  background: #f6faff;
}
.QueueItem-name {
  width: 30%;
}
.QueueItem-fromToFolder {
  width: 15%;
}
.QueueItem-direction {
  text-align: center;
  width: 5%;
  padding-right: 0 !important;
  min-width: 35px;
}
.QueueItem-direction img {
  width: 20px;
}
.QueueItem-priority {
  text-align: center;
  width: 5%;
  padding-right: 0 !important;
}
.QueueItem-priority--1,
.QueueItem-priority--2 {
  color: #4c84f7;
}
.QueueItem-priority--3,
.QueueItem-priority--4 {
  color: #db9560;
}
.QueueItem-priority--5 {
  color: #eb4969;
}
.QueueItem-size {
  text-align: right;
  width: 10%;
}
.QueueItem-transfered {
  text-align: right;
  width: 10%;
}
.QueueItem-progress {
  text-align: right;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 0 !important;
  z-index: 1 !important;
}
.QueueItem-progress progress {
  background: transparent !important;
}
.QueueItem-progress progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 32px;
  color: #fff !important;
  background: transparent !important;
  border: none;
  width: 100%;
}
.QueueItem-progress progress[value]::-webkit-progress-inner-element {
  background: transparent;
}
.QueueItem-progress progress[value]::-webkit-progress-bar {
  background: transparent;
}
.QueueItem-progress progress[value]::-webkit-progress-value {
  width: 0;
  background: #fbf3e8;
  transition: 0.2s;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
.Settings {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  -webkit-user-select: none;
}
.Settings .Button {
  margin: 0 10px 0 0;
}
.Status {
  padding: 8px 0 8px 80px;
  font-size: 15px;
  color: #4c84f7;
  -webkit-user-select: none;
  cursor: default;
}
.Status-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -1px 8px 0 0;
}
.Status-icon img {
  width: 16px;
}
.Status--loading {
  color: #db9560;
  cursor: progress;
}
.Status--loading .Status-icon img {
  animation: rotate 0.8s linear infinite;
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animations-enabled .Form .Input,
.animations-enabled .Form .Checkbox,
.animations-enabled .Form .Radio,
.animations-enabled .Form .FormActions,
.animations-enabled .Form fieldset {
  opacity: 0 !important;
  transform: translate3d(0, 30px, 0);
  animation: slideUp 0.2s forwards;
}
.animations-enabled .Form .Input:nth-child(1),
.animations-enabled .Form .Checkbox:nth-child(1),
.animations-enabled .Form .Radio:nth-child(1),
.animations-enabled .Form .FormActions:nth-child(1),
.animations-enabled .Form fieldset:nth-child(1) {
  animation-delay: 0.05s;
}
.animations-enabled .Form .Input:nth-child(2),
.animations-enabled .Form .Checkbox:nth-child(2),
.animations-enabled .Form .Radio:nth-child(2),
.animations-enabled .Form .FormActions:nth-child(2),
.animations-enabled .Form fieldset:nth-child(2) {
  animation-delay: 0.1s;
}
.animations-enabled .Form .Input:nth-child(3),
.animations-enabled .Form .Checkbox:nth-child(3),
.animations-enabled .Form .Radio:nth-child(3),
.animations-enabled .Form .FormActions:nth-child(3),
.animations-enabled .Form fieldset:nth-child(3) {
  animation-delay: 0.15s;
}
.animations-enabled .Form .Input:nth-child(4),
.animations-enabled .Form .Checkbox:nth-child(4),
.animations-enabled .Form .Radio:nth-child(4),
.animations-enabled .Form .FormActions:nth-child(4),
.animations-enabled .Form fieldset:nth-child(4) {
  animation-delay: 0.2s;
}
.animations-enabled .Form .Input:nth-child(5),
.animations-enabled .Form .Checkbox:nth-child(5),
.animations-enabled .Form .Radio:nth-child(5),
.animations-enabled .Form .FormActions:nth-child(5),
.animations-enabled .Form fieldset:nth-child(5) {
  animation-delay: 0.25s;
}
.animations-enabled .Form .Input:nth-child(6),
.animations-enabled .Form .Checkbox:nth-child(6),
.animations-enabled .Form .Radio:nth-child(6),
.animations-enabled .Form .FormActions:nth-child(6),
.animations-enabled .Form fieldset:nth-child(6) {
  animation-delay: 0.3s;
}
.animations-enabled .Form .Input:nth-child(7),
.animations-enabled .Form .Checkbox:nth-child(7),
.animations-enabled .Form .Radio:nth-child(7),
.animations-enabled .Form .FormActions:nth-child(7),
.animations-enabled .Form fieldset:nth-child(7) {
  animation-delay: 0.35s;
}
.animations-enabled .Form .Input:nth-child(8),
.animations-enabled .Form .Checkbox:nth-child(8),
.animations-enabled .Form .Radio:nth-child(8),
.animations-enabled .Form .FormActions:nth-child(8),
.animations-enabled .Form fieldset:nth-child(8) {
  animation-delay: 0.4s;
}
.animations-enabled .Form .Input:nth-child(9),
.animations-enabled .Form .Checkbox:nth-child(9),
.animations-enabled .Form .Radio:nth-child(9),
.animations-enabled .Form .FormActions:nth-child(9),
.animations-enabled .Form fieldset:nth-child(9) {
  animation-delay: 0.45s;
}
.animations-enabled .Form .Input:nth-child(10),
.animations-enabled .Form .Checkbox:nth-child(10),
.animations-enabled .Form .Radio:nth-child(10),
.animations-enabled .Form .FormActions:nth-child(10),
.animations-enabled .Form fieldset:nth-child(10) {
  animation-delay: 0.5s;
}
.animations-enabled .Form .Input:nth-child(11),
.animations-enabled .Form .Checkbox:nth-child(11),
.animations-enabled .Form .Radio:nth-child(11),
.animations-enabled .Form .FormActions:nth-child(11),
.animations-enabled .Form fieldset:nth-child(11) {
  animation-delay: 0.55s;
}
.animations-enabled .Form .Input:nth-child(12),
.animations-enabled .Form .Checkbox:nth-child(12),
.animations-enabled .Form .Radio:nth-child(12),
.animations-enabled .Form .FormActions:nth-child(12),
.animations-enabled .Form fieldset:nth-child(12) {
  animation-delay: 0.6s;
}
.animations-enabled .Form .Input:nth-child(13),
.animations-enabled .Form .Checkbox:nth-child(13),
.animations-enabled .Form .Radio:nth-child(13),
.animations-enabled .Form .FormActions:nth-child(13),
.animations-enabled .Form fieldset:nth-child(13) {
  animation-delay: 0.65s;
}
.animations-enabled .Form .Input:nth-child(14),
.animations-enabled .Form .Checkbox:nth-child(14),
.animations-enabled .Form .Radio:nth-child(14),
.animations-enabled .Form .FormActions:nth-child(14),
.animations-enabled .Form fieldset:nth-child(14) {
  animation-delay: 0.7s;
}
.animations-enabled .Form .Input:nth-child(15),
.animations-enabled .Form .Checkbox:nth-child(15),
.animations-enabled .Form .Radio:nth-child(15),
.animations-enabled .Form .FormActions:nth-child(15),
.animations-enabled .Form fieldset:nth-child(15) {
  animation-delay: 0.75s;
}
.animations-enabled .Form .Input:nth-child(16),
.animations-enabled .Form .Checkbox:nth-child(16),
.animations-enabled .Form .Radio:nth-child(16),
.animations-enabled .Form .FormActions:nth-child(16),
.animations-enabled .Form fieldset:nth-child(16) {
  animation-delay: 0.8s;
}
.animations-enabled .Form .Input:nth-child(17),
.animations-enabled .Form .Checkbox:nth-child(17),
.animations-enabled .Form .Radio:nth-child(17),
.animations-enabled .Form .FormActions:nth-child(17),
.animations-enabled .Form fieldset:nth-child(17) {
  animation-delay: 0.85s;
}
.animations-enabled .Form .Input:nth-child(18),
.animations-enabled .Form .Checkbox:nth-child(18),
.animations-enabled .Form .Radio:nth-child(18),
.animations-enabled .Form .FormActions:nth-child(18),
.animations-enabled .Form fieldset:nth-child(18) {
  animation-delay: 0.9s;
}
.animations-enabled .Form .Input:nth-child(19),
.animations-enabled .Form .Checkbox:nth-child(19),
.animations-enabled .Form .Radio:nth-child(19),
.animations-enabled .Form .FormActions:nth-child(19),
.animations-enabled .Form fieldset:nth-child(19) {
  animation-delay: 0.95s;
}
.animations-enabled .Form .Input:nth-child(20),
.animations-enabled .Form .Checkbox:nth-child(20),
.animations-enabled .Form .Radio:nth-child(20),
.animations-enabled .Form .FormActions:nth-child(20),
.animations-enabled .Form fieldset:nth-child(20) {
  animation-delay: 1s;
}
.animations-enabled .Form .Input:nth-child(21),
.animations-enabled .Form .Checkbox:nth-child(21),
.animations-enabled .Form .Radio:nth-child(21),
.animations-enabled .Form .FormActions:nth-child(21),
.animations-enabled .Form fieldset:nth-child(21) {
  animation-delay: 1.05s;
}
.animations-enabled .Form .Input:nth-child(22),
.animations-enabled .Form .Checkbox:nth-child(22),
.animations-enabled .Form .Radio:nth-child(22),
.animations-enabled .Form .FormActions:nth-child(22),
.animations-enabled .Form fieldset:nth-child(22) {
  animation-delay: 1.1s;
}
.animations-enabled .Form .Input:nth-child(23),
.animations-enabled .Form .Checkbox:nth-child(23),
.animations-enabled .Form .Radio:nth-child(23),
.animations-enabled .Form .FormActions:nth-child(23),
.animations-enabled .Form fieldset:nth-child(23) {
  animation-delay: 1.15s;
}
.animations-enabled .Form .Input:nth-child(24),
.animations-enabled .Form .Checkbox:nth-child(24),
.animations-enabled .Form .Radio:nth-child(24),
.animations-enabled .Form .FormActions:nth-child(24),
.animations-enabled .Form fieldset:nth-child(24) {
  animation-delay: 1.2s;
}
.animations-enabled .Form .Input:nth-child(25),
.animations-enabled .Form .Checkbox:nth-child(25),
.animations-enabled .Form .Radio:nth-child(25),
.animations-enabled .Form .FormActions:nth-child(25),
.animations-enabled .Form fieldset:nth-child(25) {
  animation-delay: 1.25s;
}
.animations-enabled .Form .Input:nth-child(26),
.animations-enabled .Form .Checkbox:nth-child(26),
.animations-enabled .Form .Radio:nth-child(26),
.animations-enabled .Form .FormActions:nth-child(26),
.animations-enabled .Form fieldset:nth-child(26) {
  animation-delay: 1.3s;
}
.animations-enabled .Form .Input:nth-child(27),
.animations-enabled .Form .Checkbox:nth-child(27),
.animations-enabled .Form .Radio:nth-child(27),
.animations-enabled .Form .FormActions:nth-child(27),
.animations-enabled .Form fieldset:nth-child(27) {
  animation-delay: 1.35s;
}
.animations-enabled .Form .Input:nth-child(28),
.animations-enabled .Form .Checkbox:nth-child(28),
.animations-enabled .Form .Radio:nth-child(28),
.animations-enabled .Form .FormActions:nth-child(28),
.animations-enabled .Form fieldset:nth-child(28) {
  animation-delay: 1.4s;
}
.animations-enabled .Form .Input:nth-child(29),
.animations-enabled .Form .Checkbox:nth-child(29),
.animations-enabled .Form .Radio:nth-child(29),
.animations-enabled .Form .FormActions:nth-child(29),
.animations-enabled .Form fieldset:nth-child(29) {
  animation-delay: 1.45s;
}
.animations-enabled .Form .Input:nth-child(30),
.animations-enabled .Form .Checkbox:nth-child(30),
.animations-enabled .Form .Radio:nth-child(30),
.animations-enabled .Form .FormActions:nth-child(30),
.animations-enabled .Form fieldset:nth-child(30) {
  animation-delay: 1.5s;
}
.animations-enabled .Form .Input:nth-child(31),
.animations-enabled .Form .Checkbox:nth-child(31),
.animations-enabled .Form .Radio:nth-child(31),
.animations-enabled .Form .FormActions:nth-child(31),
.animations-enabled .Form fieldset:nth-child(31) {
  animation-delay: 1.55s;
}
.animations-enabled .Form .Input:nth-child(32),
.animations-enabled .Form .Checkbox:nth-child(32),
.animations-enabled .Form .Radio:nth-child(32),
.animations-enabled .Form .FormActions:nth-child(32),
.animations-enabled .Form fieldset:nth-child(32) {
  animation-delay: 1.6s;
}
.animations-enabled .Form .Input:nth-child(33),
.animations-enabled .Form .Checkbox:nth-child(33),
.animations-enabled .Form .Radio:nth-child(33),
.animations-enabled .Form .FormActions:nth-child(33),
.animations-enabled .Form fieldset:nth-child(33) {
  animation-delay: 1.65s;
}
.animations-enabled .Form .Input:nth-child(34),
.animations-enabled .Form .Checkbox:nth-child(34),
.animations-enabled .Form .Radio:nth-child(34),
.animations-enabled .Form .FormActions:nth-child(34),
.animations-enabled .Form fieldset:nth-child(34) {
  animation-delay: 1.7s;
}
.animations-enabled .Form .Input:nth-child(35),
.animations-enabled .Form .Checkbox:nth-child(35),
.animations-enabled .Form .Radio:nth-child(35),
.animations-enabled .Form .FormActions:nth-child(35),
.animations-enabled .Form fieldset:nth-child(35) {
  animation-delay: 1.75s;
}
.animations-enabled .Form .Input:nth-child(36),
.animations-enabled .Form .Checkbox:nth-child(36),
.animations-enabled .Form .Radio:nth-child(36),
.animations-enabled .Form .FormActions:nth-child(36),
.animations-enabled .Form fieldset:nth-child(36) {
  animation-delay: 1.8s;
}
.animations-enabled .Form .Input:nth-child(37),
.animations-enabled .Form .Checkbox:nth-child(37),
.animations-enabled .Form .Radio:nth-child(37),
.animations-enabled .Form .FormActions:nth-child(37),
.animations-enabled .Form fieldset:nth-child(37) {
  animation-delay: 1.85s;
}
.animations-enabled .Form .Input:nth-child(38),
.animations-enabled .Form .Checkbox:nth-child(38),
.animations-enabled .Form .Radio:nth-child(38),
.animations-enabled .Form .FormActions:nth-child(38),
.animations-enabled .Form fieldset:nth-child(38) {
  animation-delay: 1.9s;
}
.animations-enabled .Form .Input:nth-child(39),
.animations-enabled .Form .Checkbox:nth-child(39),
.animations-enabled .Form .Radio:nth-child(39),
.animations-enabled .Form .FormActions:nth-child(39),
.animations-enabled .Form fieldset:nth-child(39) {
  animation-delay: 1.95s;
}
.animations-enabled .Form .Input:nth-child(40),
.animations-enabled .Form .Checkbox:nth-child(40),
.animations-enabled .Form .Radio:nth-child(40),
.animations-enabled .Form .FormActions:nth-child(40),
.animations-enabled .Form fieldset:nth-child(40) {
  animation-delay: 2s;
}
.animations-enabled .ListItem {
  opacity: 0 !important;
  transform: translate3d(0, 30px, 0);
  animation: slideUp 0.2s forwards;
}
.animations-enabled .ListItem:nth-child(1) {
  animation-delay: 0.05s;
}
.animations-enabled .ListItem:nth-child(2) {
  animation-delay: 0.1s;
}
.animations-enabled .ListItem:nth-child(3) {
  animation-delay: 0.15s;
}
.animations-enabled .ListItem:nth-child(4) {
  animation-delay: 0.2s;
}
.animations-enabled .ListItem:nth-child(5) {
  animation-delay: 0.25s;
}
.animations-enabled .ListItem:nth-child(6) {
  animation-delay: 0.3s;
}
.animations-enabled .ListItem:nth-child(7) {
  animation-delay: 0.35s;
}
.animations-enabled .ListItem:nth-child(8) {
  animation-delay: 0.4s;
}
.animations-enabled .ListItem:nth-child(9) {
  animation-delay: 0.45s;
}
.animations-enabled .ListItem:nth-child(10) {
  animation-delay: 0.5s;
}
.animations-enabled .ListItem:nth-child(11) {
  animation-delay: 0.55s;
}
.animations-enabled .ListItem:nth-child(12) {
  animation-delay: 0.6s;
}
.animations-enabled .ListItem:nth-child(13) {
  animation-delay: 0.65s;
}
.animations-enabled .ListItem:nth-child(14) {
  animation-delay: 0.7s;
}
.animations-enabled .ListItem:nth-child(15) {
  animation-delay: 0.75s;
}
.animations-enabled .ListItem:nth-child(16) {
  animation-delay: 0.8s;
}
.animations-enabled .ListItem:nth-child(17) {
  animation-delay: 0.85s;
}
.animations-enabled .ListItem:nth-child(18) {
  animation-delay: 0.9s;
}
.animations-enabled .ListItem:nth-child(19) {
  animation-delay: 0.95s;
}
.animations-enabled .ListItem:nth-child(20) {
  animation-delay: 1s;
}
.animations-enabled .ListItem:nth-child(21) {
  animation-delay: 1.05s;
}
.animations-enabled .ListItem:nth-child(22) {
  animation-delay: 1.1s;
}
.animations-enabled .ListItem:nth-child(23) {
  animation-delay: 1.15s;
}
.animations-enabled .ListItem:nth-child(24) {
  animation-delay: 1.2s;
}
.animations-enabled .ListItem:nth-child(25) {
  animation-delay: 1.25s;
}
.animations-enabled .ListItem:nth-child(26) {
  animation-delay: 1.3s;
}
.animations-enabled .ListItem:nth-child(27) {
  animation-delay: 1.35s;
}
.animations-enabled .ListItem:nth-child(28) {
  animation-delay: 1.4s;
}
.animations-enabled .ListItem:nth-child(29) {
  animation-delay: 1.45s;
}
.animations-enabled .ListItem:nth-child(30) {
  animation-delay: 1.5s;
}
.animations-enabled .ListItem:nth-child(31) {
  animation-delay: 1.55s;
}
.animations-enabled .ListItem:nth-child(32) {
  animation-delay: 1.6s;
}
.animations-enabled .ListItem:nth-child(33) {
  animation-delay: 1.65s;
}
.animations-enabled .ListItem:nth-child(34) {
  animation-delay: 1.7s;
}
.animations-enabled .ListItem:nth-child(35) {
  animation-delay: 1.75s;
}
.animations-enabled .ListItem:nth-child(36) {
  animation-delay: 1.8s;
}
.animations-enabled .ListItem:nth-child(37) {
  animation-delay: 1.85s;
}
.animations-enabled .ListItem:nth-child(38) {
  animation-delay: 1.9s;
}
.animations-enabled .ListItem:nth-child(39) {
  animation-delay: 1.95s;
}
.animations-enabled .ListItem:nth-child(40) {
  animation-delay: 2s;
}
.animations-enabled .FilesItem {
  opacity: 0 !important;
  transform: translate3d(0, 30px, 0);
  animation: slideUp 0.2s forwards;
}
.animations-enabled .FilesItem:nth-child(1) {
  animation-delay: 0.01s;
}
.animations-enabled .FilesItem:nth-child(2) {
  animation-delay: 0.02s;
}
.animations-enabled .FilesItem:nth-child(3) {
  animation-delay: 0.03s;
}
.animations-enabled .FilesItem:nth-child(4) {
  animation-delay: 0.04s;
}
.animations-enabled .FilesItem:nth-child(5) {
  animation-delay: 0.05s;
}
.animations-enabled .FilesItem:nth-child(6) {
  animation-delay: 0.06s;
}
.animations-enabled .FilesItem:nth-child(7) {
  animation-delay: 0.07s;
}
.animations-enabled .FilesItem:nth-child(8) {
  animation-delay: 0.08s;
}
.animations-enabled .FilesItem:nth-child(9) {
  animation-delay: 0.09s;
}
.animations-enabled .FilesItem:nth-child(10) {
  animation-delay: 0.1s;
}
.animations-enabled .FilesItem:nth-child(11) {
  animation-delay: 0.11s;
}
.animations-enabled .FilesItem:nth-child(12) {
  animation-delay: 0.12s;
}
.animations-enabled .FilesItem:nth-child(13) {
  animation-delay: 0.13s;
}
.animations-enabled .FilesItem:nth-child(14) {
  animation-delay: 0.14s;
}
.animations-enabled .FilesItem:nth-child(15) {
  animation-delay: 0.15s;
}
.animations-enabled .FilesItem:nth-child(16) {
  animation-delay: 0.16s;
}
.animations-enabled .FilesItem:nth-child(17) {
  animation-delay: 0.17s;
}
.animations-enabled .FilesItem:nth-child(18) {
  animation-delay: 0.18s;
}
.animations-enabled .FilesItem:nth-child(19) {
  animation-delay: 0.19s;
}
.animations-enabled .FilesItem:nth-child(20) {
  animation-delay: 0.2s;
}
.animations-enabled .FilesItem:nth-child(21) {
  animation-delay: 0.21s;
}
.animations-enabled .FilesItem:nth-child(22) {
  animation-delay: 0.22s;
}
.animations-enabled .FilesItem:nth-child(23) {
  animation-delay: 0.23s;
}
.animations-enabled .FilesItem:nth-child(24) {
  animation-delay: 0.24s;
}
.animations-enabled .FilesItem:nth-child(25) {
  animation-delay: 0.25s;
}
.animations-enabled .FilesItem:nth-child(26) {
  animation-delay: 0.26s;
}
.animations-enabled .FilesItem:nth-child(27) {
  animation-delay: 0.27s;
}
.animations-enabled .FilesItem:nth-child(28) {
  animation-delay: 0.28s;
}
.animations-enabled .FilesItem:nth-child(29) {
  animation-delay: 0.29s;
}
.animations-enabled .FilesItem:nth-child(30) {
  animation-delay: 0.3s;
}
.animations-enabled .FilesItem:nth-child(31) {
  animation-delay: 0.31s;
}
.animations-enabled .FilesItem:nth-child(32) {
  animation-delay: 0.32s;
}
.animations-enabled .FilesItem:nth-child(33) {
  animation-delay: 0.33s;
}
.animations-enabled .FilesItem:nth-child(34) {
  animation-delay: 0.34s;
}
.animations-enabled .FilesItem:nth-child(35) {
  animation-delay: 0.35s;
}
.animations-enabled .FilesItem:nth-child(36) {
  animation-delay: 0.36s;
}
.animations-enabled .FilesItem:nth-child(37) {
  animation-delay: 0.37s;
}
.animations-enabled .FilesItem:nth-child(38) {
  animation-delay: 0.38s;
}
.animations-enabled .FilesItem:nth-child(39) {
  animation-delay: 0.39s;
}
.animations-enabled .FilesItem:nth-child(40) {
  animation-delay: 0.4s;
}
.animations-enabled .Empty {
  opacity: 0 !important;
  transform: translate3d(0, 30px, 0);
  animation: slideUp 0.4s forwards;
}
.animations-enabled .Empty:nth-child(1) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(2) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(3) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(4) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(5) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(6) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(7) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(8) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(9) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(10) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(11) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(12) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(13) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(14) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(15) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(16) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(17) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(18) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(19) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(20) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(21) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(22) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(23) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(24) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(25) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(26) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(27) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(28) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(29) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(30) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(31) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(32) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(33) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(34) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(35) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(36) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(37) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(38) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(39) {
  animation-delay: 0s;
}
.animations-enabled .Empty:nth-child(40) {
  animation-delay: 0s;
}
.animations-enabled .ListSearch input {
  animation: slideLeft 0.3s forwards;
}
.animations-enabled .MenuItem-icon {
  transition: 0.3s;
}
@-moz-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.theme-darkBlue.App {
  background: #24303f;
}
.theme-darkBlue .Panel {
  background: #1a222c;
  color: #fff;
}
.theme-darkBlue .Log,
.theme-darkBlue .List {
  border-color: #24303f;
}
.theme-darkBlue .MenuItem .MenuItem-icon img {
  filter: invert(1);
}
.theme-darkBlue .MenuItem:hover .MenuItem-icon {
  background: #1a222c;
}
.theme-darkBlue .MenuItem--active .MenuItem-icon {
  background: #4c84f7 !important;
}
.theme-darkBlue .MenuItem--active .MenuItem-icon img {
  filter: invert(0);
}
.theme-darkBlue .Empty img {
  filter: invert(1);
}
.theme-darkBlue .FilesItem--back img {
  filter: invert(1);
}
.theme-darkBlue .List.is-searching .ListItem:first-child {
  background: #24303f;
  opacity: 1;
}
.theme-darkBlue .List.is-searching .ListItem:first-child .ListItem-name {
  opacity: 1;
}
.theme-darkBlue .List.is-searching .ListItem:first-child:before {
  background: #476a93;
}
.theme-darkBlue .ListItem .ListItem-name {
  opacity: 1;
}
.theme-darkBlue .ListItem:hover,
.theme-darkBlue .ListItem:focus {
  background: #24303f;
}
.theme-darkBlue .ListItem:hover:before,
.theme-darkBlue .ListItem:focus:before {
  background: transparent;
}
.theme-darkBlue .ListItem.is-active {
  background: #476a93;
}
.theme-darkBlue .ListItem.is-active:before {
  background: #4c84f7;
}
.theme-darkBlue .ListSearch input {
  background: #1a222c;
  border-bottom: 2px solid #24303f;
  color: #fff;
}
.theme-darkBlue .ListSearch input::placeholder {
  color: #fff;
}
.theme-darkBlue .ListSearch img {
  filter: invert(1);
}
.theme-darkBlue .List,
.theme-darkBlue .Files {
  border-right: 2px solid #24303f;
  border-bottom: 2px solid #24303f;
}
.theme-darkBlue .FilesHeader {
  border-bottom: 2px solid #24303f;
}
.theme-darkBlue .FilesItem-iconName {
  background: #1a222c;
}
.theme-darkBlue .FilesItem:hover,
.theme-darkBlue .FilesItem:focus {
  background: #476a93;
}
.theme-darkBlue .FilesItem--active {
  background: #24303f;
}
.theme-darkBlue .FilesItem--file .FilesItem-icon img {
  filter: invert(1);
}
.theme-darkBlue .Input input {
  background: #1a222c;
  color: #fff;
  border: 1px solid #24303f;
}
.theme-darkBlue .Input label {
  background: #1a222c;
}
.theme-darkBlue .QueueItem--inProgress {
  background: #24303f;
}
.theme-darkBlue .QueueItem-direction img {
  filter: invert(1) brightness(5) grayscale(1);
}
.theme-darkBlue .QueueItem-progress progress[value]::-webkit-progress-value {
  background: #476a93;
}
.theme-darkGrey.App {
  background: #242424;
}
.theme-darkGrey .Panel {
  background: #2c2c2c;
  color: #fff;
}
.theme-darkGrey .Log,
.theme-darkGrey .List {
  border-color: #242424;
}
.theme-darkGrey .MenuItem .MenuItem-icon img {
  filter: invert(1);
}
.theme-darkGrey .MenuItem:hover .MenuItem-icon {
  background: #2c2c2c;
}
.theme-darkGrey .MenuItem--active .MenuItem-icon {
  background: #e0966d !important;
}
.theme-darkGrey .MenuItem--active .MenuItem-icon img {
  filter: invert(0);
}
.theme-darkGrey .Empty img {
  filter: invert(1);
}
.theme-darkGrey .FilesItem--back img {
  filter: invert(1);
}
.theme-darkGrey .List.is-searching .ListItem:first-child {
  background: #242424;
  opacity: 1;
}
.theme-darkGrey .List.is-searching .ListItem:first-child .ListItem-name {
  opacity: 1;
}
.theme-darkGrey .List.is-searching .ListItem:first-child:before {
  background: #242424;
}
.theme-darkGrey .ListItem .ListItem-name {
  opacity: 1;
}
.theme-darkGrey .ListItem:hover,
.theme-darkGrey .ListItem:focus {
  background: #242424;
}
.theme-darkGrey .ListItem:hover:before,
.theme-darkGrey .ListItem:focus:before {
  background: transparent;
}
.theme-darkGrey .ListItem.is-active {
  background: #242424;
}
.theme-darkGrey .ListItem.is-active:before {
  background: #e0966d;
}
.theme-darkGrey .ListSearch input {
  background: #2c2c2c;
  border-bottom: 2px solid #242424;
  color: #fff;
}
.theme-darkGrey .ListSearch input::placeholder {
  color: #fff;
}
.theme-darkGrey .ListSearch img {
  filter: invert(1);
}
.theme-darkGrey .List,
.theme-darkGrey .Files {
  border-right: 2px solid #242424;
  border-bottom: 2px solid #242424;
}
.theme-darkGrey .FilesHeader {
  border-bottom: 2px solid #242424;
}
.theme-darkGrey .FilesItem-iconName {
  background: #2c2c2c;
}
.theme-darkGrey .FilesItem:hover,
.theme-darkGrey .FilesItem:focus {
  background: #242424;
}
.theme-darkGrey .FilesItem--active {
  background: #242424;
}
.theme-darkGrey .FilesItem--file .FilesItem-icon img {
  filter: invert(1);
}
.theme-darkGrey .Input input {
  background: #2c2c2c;
  color: #fff;
  border: 1px solid #242424;
}
.theme-darkGrey .Input label {
  background: #2c2c2c;
}
.theme-darkGrey .QueueItem--inProgress {
  background: #242424;
}
.theme-darkGrey .QueueItem-direction img {
  filter: invert(1) brightness(5) grayscale(1);
}
.theme-darkGrey .QueueItem-progress progress[value]::-webkit-progress-value {
  background: #242424;
}
