$grey = #EFF0F5;
$bordergrey = #EEF1F1;
$darkgrey = #D9DCE5;
$lightgrey = #F1F1F1;

$red = #EB4969;

$blue = #4C84F7;
$lightblue = #F6FAFF;

$orange = #F9D69D;
$lightorange = #FBF3E8;
$darkorange = #DB9560;

$green = #59BB5D;
$lightgreen = #E0F8BB;


$ease = cubic-bezier(.455,.03,.515,.955)

@import './helpers/base.styl'
@import './helpers/external.styl'
@import './helpers/forms.styl'
@import './helpers/buttons.styl'
@import './helpers/react-contextmenu.styl'

@import './App.styl'

@import './components/**/*.styl'

@import './helpers/themes/**/*.styl'