.Actions
    display block

    img
        width 20px
        margin 0 auto

.ActionsItem
    border 2px solid $blue
    width 34px
    height 34px
    border-radius 3px
    line-height 34px
    vertical-align middle
    margin 0 auto 20px
    cursor pointer
    display flex
    justify-content center
    align-items center